.ChatRoomHeader {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #ececec;
}

.ChatRoomHeader h3 {
    margin: 0;
}

@media (max-width: 420px) {
    .ChatRoomHeader h3 {
        font-size: 4.4vw;
    }
}