.ProfileInfo {
    display: flex;
    flex-direction: column;
}

.ProfileInfo_introduce {
    flex-direction: column;
    align-items: stretch;
}

.ProfileInfo .profile_field {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

.ProfileInfo .profile_field_introduce {
    width: auto;
}

.ProfileInfo .profile_data {
    font-size: 16px;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #ececec;
}

.ProfileInfo .profile_data_introduce {
    padding: 10px 0;
    line-height: 1.5;
    max-height: 48px;
    min-height: 48px;
    overflow-y: auto;
}

@media (max-width: 420px) {
    .ProfileInfo .profile_field,
    .ProfileInfo .profile_data {
        font-size: 3.3vw;
    }

    .ProfileInfo .profile_data {
        padding: 2.4vw 0;
        font-size: 3.8vw;
    }

    .ProfileInfo .profile_data_introduce {
        padding: 2.4vw 0;
    }
}