.ProfileContent {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 120px;
    gap: 30px;
}

.ProfileContent .img_section {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.ProfileContent .img_section img {
    width: 100%;
    border: 1px solid #ececec;
    border-radius: 5px;
}