.MypageContent {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 90px;
    gap: 20px;
    min-height: 100vh;
}

.MypageContent img {
    border: 1px solid #ececec;
    border-radius: 5px;
}