.MypageForm {
    display: flex;
    align-items: center;
}

.MypageForm_introduce {
    flex-direction: column;
    align-items: stretch;
    padding-top: 10px;
    gap: 10px;
}

.MypageForm label {
    display: inline-block;
    width: 20%;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.MypageForm label[for^="gender-"] {
    width: auto;
    font-weight: normal;
}

.MypageForm label[for^="introduce"] {
    width: auto;
}

.MypageForm input,
.MypageForm select,
.MypageForm textarea {
    display: inline-block;
    box-sizing: border-box;
    width: calc(80% - 5px);
    font-family: 'S-CoreDream-3Light';
    font-size: 16px;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid lightgray;
}

input:disabled {
    background-color: white;
    color: gray;
}

.MypageForm input[type="radio"] {
    width: auto;
    margin: 0;
}

.MypageForm textarea {
    width: 100%;
    min-height: 200px;
    height: 200px;
    padding: 10px;
    line-height: 1.5;
    resize: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.MypageForm input:focus,
.MypageForm select:focus,
.MypageForm textarea:focus {
    outline: none;
}

.MypageForm .birthdate_wrapper {
    width: calc(80% - 5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MypageForm .birthdate_wrapper span {
    font-size: 16px;
}

.MypageForm .radio_group {
    width: calc(80% - 5px);
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.MypageForm .radio_wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 20px;
}

.MypageForm .place_wrapper {
    width: calc(80% - 5px);
    display: flex;
    justify-content: space-between;
}

@media (max-width: 420px) {
    .MypageForm label,
    .MypageForm .birthdate_wrapper span {
        font-size: 3.8vw;
    }

    .MypageForm input,
    .MypageForm select {
        font-size: 3.8vw;
        padding: 2.4vw 0;
    }

    .MypageForm textarea {
        font-size: 3.8vw;
        padding: 2.4vw;
    }
}