.SelfIntroduction {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.SelfIntroduction h2 {
    font-family: 'Rochester';
    margin: 0;
    letter-spacing: 2px;
}

.SelfIntroduction .mock_content {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    overflow-x: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.SelfIntroduction .mock_content .ProfileCardItem {
    flex: 0 0 calc(45% - 10px);
    box-sizing: border-box;
}

@media (max-width: 420px) {
    .SelfIntroduction h2 {
        font-size: 5.7vw;
    }
}
