.RequestItem {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ececec;
}

.RequestItem .img_section {
    cursor: pointer;
    width: 20%;
    padding-top: 20%;
    position: relative;
}

.RequestItem .img_section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 50%;
}

.RequestItem .content_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.RequestItem .content_section .info_wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.RequestItem .content_section .info_wrapper .nickname_wrapper {
    font-size: 16px;
    font-weight: bold;
}

.RequestItem .content_section .info_wrapper .created_at_wrapper {
    font-size: 12px;
    color: gray;
}

.RequestItem .content_section .status_wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.RequestItem .content_section .status_wrapper .icon_wrapper {
    display: flex;
    width: 10%;
    font-size: 10px;
}

.RequestItem .content_section .status_wrapper .text_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
}

.RequestItem .content_section .status_wrapper .text_wrapper .pending_progressbar {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #92a8d1;
}

@media (max-width: 420px) {
    .RequestItem .content_section .info_wrapper .nickname_wrapper,
    .RequestItem .content_section .status_wrapper .text_wrapper {
        font-size: 3.8vw;
    }

    .RequestItem .content_section .info_wrapper .created_at_wrapper {
        font-size: 2.8vw;
    }

    .RequestItem .content_section .status_wrapper .icon_wrapper {
        font-size: 2.4vw;
    }
}
