.ProfileCardItem {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 1px #ececec;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 100, 0.2) 3px 3px 4px 0px;
    padding: 10px;
    gap: 10px;
}

.ProfileCardItem .img_section {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.ProfileCardItem .img_section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.ProfileCardItem .content_section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.ProfileCardItem .content_section .nickname_wrapper {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}

.ProfileCardItem .content_section .age_gender_wrapper {
    font-size: 14px;
    display: flex;
    gap: 5px;
}

@media (max-width: 420px) {
    .ProfileCardItem .content_section .nickname_wrapper {
        font-size: 3.8vw;
    }

    .ProfileCardItem .content_section .age_gender_wrapper {
        font-size: 3.3vw;
    }
}