.PageHeader {
    position: sticky;
    top: 0;
    background-color: #dde1ea;
    z-index: 100;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 30px;
}

.PageHeader h2 {
    margin: 0;
}

.PageHeader .header_menu {
    display: flex;
    gap: 20px;
}

.PageHeader_mypage .my_note {
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.PageHeader_mypage .setting {
    cursor: pointer;
}

@media (max-width: 420px) {
    .PageHeader h2 {
        font-size: 5.7vw;
    }

    .PageHeader .header_menu {
        font-size: 3.75vw;
    }
}